$primary-color: #051a34;
$second-color: #0431b4;
$margin1-color: #2267a3;
$margin2-color: #26838e;
$white-color: #fff;
$black-color: #000;

$font-sizes: (
  "large": 48px,
  "medium": 36px,
  "small": 1.75rem,
  "small2": 24px,
  "smaller": 20px,
  "x-small": 18px,
);

$font-weights: (
  "bold": 700,
  "normal": 500,
);

@function size($size-name) {
  @return map-get($font-sizes, $size-name);
}

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
}

.header {
  background-color: $primary-color;

  & .navbar {
    width: 1200px;
    padding: 12px 0;

    & .navbar__logo {
      line-height: inherit;
    }

    & .nav-link__logo {
      display: block;
      padding: 8px 8px 8px 16px;

      & .nav-link__logo__img {
        width: 247px;
        height: 100%;
      }
    }

    & .responsive-navbar-nav {
      padding-bottom: 12px;
    }

    & .dropdown {
      & .navbar__menu {
        padding: 16px 5px 16px 18px;
        font-size: size(smaller);
      }

      & .navbar__menu-icon {
        padding: 16px 18px 16px 0;
        font-size: size(smaller);
        cursor: pointer;
      }

      & .dropdown__content {
        display: none;
        position: absolute;
        background-color: $primary-color;
        min-width: 160px;
        width: fit-content;
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
        z-index: 1;

        & .navbar__menu-service {
          width: 310px;
          padding: 16px 18px;

          &:hover {
            background-color: $second-color;
          }
        }
      }

      &:hover .dropdown__content {
        display: block;
      }
    }

    & .navbar__menu-link {
      font-size: size(smaller);
      padding: 16px 18px !important;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none !important;
  background-color: transparent;
  color: $white-color !important;
}

svg {
  color: $white-color;
  width: 0.625em;
  height: 1em;
  vertical-align: -0.125em !important;
  display: inline-block;
  font-size: inherit;
}

main {
  display: block;

  & .banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("https://cdn.neurond.com/neurondasset/assets/image/branch/HomePage/home_page_slider.webp")
      center/cover no-repeat;
    margin: 0 0 120px;

    & .overlay {
      position: inherit;
      height: 100vh;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);

      & .banner-text {
        position: inherit;
        top: 40%;
        height: fit-content;
        color: $white-color;

        & .banner-text__h1 {
          font-weight: weight(bold);
          font-size: size(large);
          line-height: 180%;
          margin: 0;
        }

        & .banner-text__h4 {
          font-size: size(smaller);
          line-height: 150%;
          margin: 0;
          padding: 20px 100px 40px;
        }
      }
    }
  }

  & .wrapper {
    max-width: 1200px;
    margin-bottom: 120px !important;

    & .article {
      margin: 0 0 120px;

      &:last-child {
        margin: 0;
      }

      & .article__block {
        height: auto;
        position: relative;

        &:first-child {
          padding: 0 32px 0 0;
        }

        &:last-child {
          padding: 0 0 0 32px;
        }

        & .article__block__headline {
          width: 100%;
          height: 32px;
          padding: 15px 0 16px;
          border-top: 0.5px solid $black-color;
        }

        & .article__block__title {
          font-weight: weight(bold);
          font-size: size(medium);
          line-height: 150%;
          margin: 0;
          padding-bottom: 12px;
        }

        & .article__block__description {
          width: 100%;
          text-align: left;
          height: fit-content;
          padding: 24px 0 0;
          line-height: 150%;
          margin: 0;
          font-size: size(smaller);
        }

        & .article__block__img {
          width: 100%;
          height: 100%;
          max-height: 572px;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }

  & .margin {
    background: linear-gradient(180deg, $margin1-color, $margin2-color);
    margin-bottom: 120px;

    & .wrapper__title {
      font-weight: weight(bold);
      font-size: size(medium);
      line-height: 150%;
      margin: 0;
      color: $white-color;
      padding: 72px 0;
    }
  }
}

.footer-container {
  background-color: $primary-color;

  & .responsive-footer {
    padding: 64px 15px;
    position: relative;
  }

  & .responsive-footer__column1 {
    position: relative;
    padding-left: 0;
    padding-right: 15px;

    & .responsive-footer__column1__logo {
      position: inherit;
      padding: 0 15px 40px;
      font-size: size(small);
      font-weight: weight(normal);
      line-height: 1.2;
      margin-inline-start: 0px;
      margin-inline-end: 0px;

      & .responsive-footer__logo {
        width: 247px;
        height: 100%;
      }
    }

    & .responsive-footer__column1__div2 {
      padding: 0 15px;
      position: inherit;

      & .contact {
        text-align: left;
        line-height: 150%;
        margin: 0;
        font-size: size(smaller);
      }
    }
  }

  & .responsive-footer__h3 {
    font-weight: weight(bold);
    font-size: size(small2);
    line-height: 150%;
    margin: 0;
  }

  & .responsive-footer__column2{
      position: relative;
      padding: 0 15px;

      & .location{
          margin-bottom: 2rem;

          & .responsive-footer__text{
            text-align: left;
            line-height: 150%;
            margin: 0;
            font-size: size(smaller);
          }
      }

      & .responsive-footer__column2-div2{
          & .coppyright{
            text-align: left;
            line-height: 150%;
            margin: 0;
            font-size: size(x-small);

            & .small{
                font-size: 80%;
            }
          }
      }
  }
}
